body {
   font-family: Arial, sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
   background-color: #f0f0f0;
   background: url(../css/images/1.jpg);
}
header {
   text-align: center;
   margin-bottom: 20px;
   
}
header h1 {
   font-size: 2em;
   margin: 0;
   color: white;
}
header h2 {
   font-size: 1.2em;
   margin: 5px 0 20px;
   color: #fff;

}
.login-container {
   background-color: #fff;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   width: 300px;
   box-sizing: border-box;
}
.login-container h1 {
   text-align: center;
   margin-bottom: 20px;
}
.login-container h2 {
   margin: 10px 0 5px;
}
.login-container input {
   width: 100%;
   padding: 10px;
   margin: 5px 0 15px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}
.login-container button {
   width: 100%;
   padding: 10px;
   background-color: #007BFF;
   color: #fff;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   box-sizing: border-box;
}
.login-container button:hover {
   background-color: #0056b3;
}